# =========================
# NODE / ELECTRON
# =========================
node_modules/
dist/
dist-electron/
release/
win-unpacked/
out/
build/

*.exe
*.msi
*.7z
*.zip
*.blockmap
*.tgz

# electron-builder
latest.yml

# =========================
# PYTHON
# =========================
.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/

# =========================
# MINER / NODE DATA
# =========================
data/
chain/
blocks/
db/
database/
storage/
wallet_data/
keystore/
miners/temp/

*.db
*.sqlite
*.sqlite3

# =========================
# ENV / SECRETS
# =========================
.env
.env.*
*.pem
*.key
*.seed

# IMPORTANT:
# never upload private keys
private_key.txt
wallet.json

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCODE / IDE
# =========================
.vscode/
.idea/

# =========================
# TEMP
# =========================
tmp/
temp/

# =========================
# GIT
# =========================
*.orig

picoin-desktop-miner/node_modules/
picoin-desktop-miner/dist/
picoin-desktop-miner/release/
picoin-desktop-miner/win-unpacked/

picoin-desktop-wallet/node_modules/
picoin-desktop-wallet/dist/
picoin-desktop-wallet/release/
picoin-desktop-wallet/win-unpacked/